{% extends "base.html" %}
{% block head_title %}All Products{% endblock %}

{% block content %}
{% load static %}

<div class="cart-page">
        <div class="container">
            <div class="cart-table">
                <table>
                    <thead>
                        <tr>
                            <th class="product-h">Product</th>
                            <th>Price</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for product in cart.items.all %}
                            <td class="product-col">
                                <img src="{{ product.image.url }}" alt="">
                                <div class="p-title">
                                    <h3>{{ product.title | capfirst }}</h3>
                                </div>
                            </td>
                            <td class="price-col">${{ product.price | floatformat:2 }}</td>
                            
                            
                            {% if cart.items.all.count > 0 %}
                            <td class="item" id="cart-summary">
                            <div>
                                <p></p>
                            </div>
                            
                            <div>
                                <p>${{ cart.total_price }}</p>
                            </div>
                            <div>
                            <td>
                            <a href="{% url 'remove_from_cart' product_id=product.id %}" class="product-close">x</a>
                            </td>
                            {% endif%}
                        </tr>
                            {% empty %}
                            <td>
                                <p>No products yet.</p>
                            </td>
                            {% endfor %}
                            </div>
                            </div>
                            </td>
                            
                    </tbody>
                </table>
            </div>
            <br>
    <div class="cart-btn">
        <div class="row">
                                   
             <div class="col-lg-5 offset-lg-1 text-left text-lg-right">                          
                <a href="{% url 'order' %}" class="btn">Checkout</a>
                <a href="{% url 'clear_cart' %}" class="btn">Clear Cart</a>
            </div>
        </div>
    </div>
     
        
    </div>


{% endblock %}
